body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Helvetica Neue", serif;
}

.chats {
    float: left;
    width: 33.3333333333%;
    height: 580px;
    overflow: auto;
}

.messages {
    float: left;
    padding: 20px;
    border: 1px black;

    width: 66.6666666667%;
    height: 530px;
    overflow: auto;
}

.input {
    float: left;
    width: 66.6666666667%;
    height: 5%;
}

.form_message {
    float: left;
    width: 82%;
    padding: 15px;
}

.form_send {
    float: right;
    padding: 15px;
}

.navbar {
    float: left;
    height: 10%;
    width: 100%;
}

.addChat {
    float: left;
    padding-left: 30px;
    width: 33.3333333333%;
}

.message_title {
    float: left;
    width: 66.6666666667%;
}