.side_right {
    float: right;
}

.side_left {
    float: left;
}

.message {
    float: left;
    width: 100%;
}

.messageBlock {
    max-width: 45%;
    border-width: 1px;
    border-radius: 10px;
    background-color: #337ab7;
    padding: 15px;
    color: #fff;
}

.senderName_right {
    float: right;
    font-size: x-small;
}

.senderName_left {
    float: left;
    font-size: x-small;
}