<html>
<head>
    <title>Signin chatroom</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/noty/3.1.4/lib/noty.css" rel="stylesheet"/>
    <link href="/webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script defer src="/webjars/noty/3.1.4/lib/noty.min.js"></script>
</head>

<body class="text-center">
<form class="form" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label class="sr-only" for="inputUsername">Username</label>
    <input autofocus class="form-control" id="inputUsername" name="username" placeholder="Username" required
           type="text">

    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">

    <br>OR<br>
    <a href="/regist">Registration in service</a>
</form>

<script>
    let error = "[[${error}]]";
</script>
<script src="/js/main.js"></script>
</body>
</html>